@using Ecommerce.ViewModel;
@model ChangePasswordViewModel;
    <div class="myaccount-details">
        <div  class="myaccount-form">
            <div class="myaccount-form-inner">
                <div class="single-input single-input-half">
                    <label>Mật Khẩu Hiện Tại</label>
                    <input asp-for="PasswordNow" type="password" id="currentPassword">
                </div>
                <div class="single-input single-input-half">
                    <br />
                    <br />
                    <ul style="color:red" id="errorCurrentPassword"></ul>
                </div>
                <div class="single-input single-input-half">
                    <label>Nhập Mật Khẩu Mới</label>
                    <input asp-for="Password" type="password" id="newPassword">
                </div>
                <div class="single-input single-input-half">
                    <br />
                    <br />
                    <ul style="color:red" id="error"></ul>
                </div>
                <div class="single-input single-input-half">
                    <label>Nhập Lại Mật Khẩu Mới</label>
                    <input asp-for="ConfirmPassword" type="password" id="ConfirmPassword">
                </div>
                <div class="single-input single-input-half">
                    <br />
                    <br />
                    <ul style="color:red" id="error"></ul>
                </div>
                <div class="single-input">
                    <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" id="register" type="submit">
                        <span>SAVE CHANGES</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
