@model List<Ecommerce.Entities.Order>
@if (Model != null && Model.Count() > 0)
{
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>ORDER</th>
                <th>DATE</th>
                <th>STATUS</th>
                <th>TOTAL</th>
                <th></th>
            </tr>
           @foreach (var item in Model)
           {
            <tr>
                <td><a class="account-order-id" href="javascript:void(0)">#@item.OrderID</a></td>
                <td>@item.OrderDate</td>
                <td>@item.ShipDate</td>
                <td>@item.TransactSatatus.Status</td>
                <td>@item.TotalMoney.ToString("#,##0") VND</td>
                   <td>
                       <a href="javascript:void(0)" class="btn btn-secondary btn-primary-hover"><span>Xem Đơn hàng</span></a>
                </td>
            </tr>
           }
        </tbody>
    </table>
</div>
}
else
{
    <p> Chưa có đơn hàng</p>
}